@charset "ISO-8859-1";

#heading>tbody>tr>td:nth-child(1)>a>img {
	width: 100px;
	height: 120px;
}

#heading>tbody>tr>td.title {
	font-size: 200%;
}

#nav>tbody>tr>td {
	font-size: 120%;
	padding-right: 20px;
	color: red;
}

body {
	background-color: #fdfdfd;
}

div#alchemist table#user td.sub {
	width: 400%; color #777;
	font-size: 120%;
	padding-left: 10px;
	text-align: right;
	float: right;
}

#nav {
	list-style: none;
	padding: 1px 0 0 0
}

#nav > li {
	display: inline-block;
	padding-right: 10px;
	font-size: 120%;
}

#access {
	text-align: right;
	float: right;
	list-style: none;
}